<html>
<head>
<title>Contact Us!!</title>
<link rel="stylesheet" href="/css/contact.css">
</head>
<body>

<div class="contact">
<h1>CONTACT US</h1>

<div class="add">
<img src="https://cdn.onlinewebfonts.com/svg/img_339206.png" height="50px" width="50px">
<h2>ADDRESS</h2>

<p >Human Resource Development Department</br>Tashiling Secretariat</br>Gangtok,East Sikkim-737101</p>
</div>
<div class="fax">
<img src="https://coffmancompanies.com/wp-content/uploads/2014/12/fax-icon.png" height="50px" width="50px">
<h2>FAX</h2>
<p>(03592) 202218/203050</p>
</div>
<div class="call">
<img src="https://tse3.mm.bing.net/th?id=OIP.Ya-fqcpodcVyIAT82rTp7AHaHa&pid=Api&P=0&w=300&h=300" height="50px" width="50px">
<h2>CALL US AT</h2>
<p>+091-9999234839</br>+91-07827101322</p>
</div>

</div>
</body>
</html>