<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/faq2.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<h1 align="center">FREQUENTLY ASKED QUESTIONS(FAQ's)</h1>
<button class="accordion">Q1:- What is Teacher Eligibility Test?</button>
<div class="panel">
<p>Teacher eligibility test is a gateway to bring uniformity in the standard of teachers appointed to provide quality education to students in school.</p>
</div>
<button class="accordion">Q2:-How many times STET is conducted in a year?</button>
<div class="panel">
<p>STET is conducted twice a year.</p>
</div>
<button class="accordion">Q3:-What is the mode for conduct of the Examination?</button>
<div class="panel">
<p> STET is conducted Offline(Pen & Paper).</p>
</div>

<button class="accordion">Q4:-What is the validity period of STET Certificate?</button>
<div class="panel">
<p> The Validity Period of STET qualifying certificate for appointment will be 7 years from the date of declaration of its result for all categories.</p>
</div>
<button class="accordion">Q5:-Is there any restriction on the number of attempts of STET Exam?</button>
<div class="panel">
<p>There is no restriction on the number of attempts a person can take for acquiring a STET Certificate. A person who has qualified STET may also appear again for improving his/her score.</p>
</div>
<button class="accordion">Q6:-What are the qualifying marks & award of STET Certificate?</button>
<div class="panel">
<p> 
<ul>
<li>The candidates appearing in STET will be issued Marks Statement. The candidates securing 60% & above marks will ne issued Eligibility Certificate.</li>
<li>School Managements(Government, Local Bodies, Government aided & unaided) may consider giving concessions to person belonging to SC/ST, OBC, differently abled persons,etc., in accordance 
with their extant reservation policy.</li>
<li>Qualifying the STET would not confer a right on any person for recruitment/employment as it is only one of the eligibility criteria for appointment.</li>
</ul>
</p>
</div>
<!--<button class="accordion">Q7:-What is the Examination Fee for STET?</button>
<div class="panel">
<p>
<table style="width:100%">
<tr>
<th>CATEGORY</th>
<th>Only Paper-I or Paper-II</th>
<th>Both Paper-I and Paper-II</th>
</tr>
<tr>
<td>General/OBC</td>
<td>Rs.600/-</td>
<td>Rs.1000/-</td>
</tr>
<tr>
<td>SC/ST/Differently Abled Person</td>
<td>Rs.300/-</td>
<td>Rs.500/-</td>
</tr>
</table>
</p>
</div><-->
<button class="accordion">Q7:-Is it mandatory to have an e-mail id?</button>
<div class="panel">
<p>Yes, the applicant must have a valid email ID to apply for any post and keep it unchanged during the course of recruitment process. All communications will be mailed at the email ID submitted at the time of registration.</p>
</div>
<button class="accordion">Q8:-What is the duration given for online registration of STET form?</button>
<div class="panel">
<p>The online registration opens usually 4 months before the examination date and lasts up to 1 month.</p>
</div>
<button class="accordion">Q9:-I made a mistake in my Name/Father's Name/Mother's Name/Correspondence Address/Category/Change in city of exam centre/Photo/Signature.What to do now?</button>
<div class="panel">
<p>You can do online correction. The time period for online correction is announced alongwith schedule of examination.Therefore, candidate should read the Information Bulletin carefully.During Online correction period,a candidate by login on our website can make corrections. Line for online corrections remain functional and closes as per schedule. No change will be accepted through offline mode i.e. through fax/application/emailetc..
</br>After making correction, candidate should ensure that he/she has downloaded the revised Confirmation Page.Previously generated Confirmation Page will be no longer valid once the corrections are made during a specified period.</p>
</div>
<script>
var acc=document.getElementsByClassName("accordion");
var i;
for(i=0;i<acc.length;i++)
{
acc[i].addEventListener("click",function(){
this.classList.toggle("active");
var panel=this.nextElementSibling;
if(panel.style.display==="block"){
panel.style.display="none";
}else{
panel.style.display="block";
}
});
}
</script>
</body>
</html>