<html>
    <head>


    </head>
    <body>
        <button onclick ="location.href= 'http://localhost:3001/register'" type="button">Sign UP</button>
        <button onclick ="location.href= 'http://localhost:3001/login'"  type="button">Log In</button>
    </body>
</html>