<html>
<head>
<title>STET Syllabus</title>
<link rel="stylesheet" href="/css/syllabus.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<hr>
<h1 align="center">STET Syllabus & Exam Pattern 2020</h1>
<p>STET Syllabus is provided below, the candidates should prepare according to the syllabus to qualify for STET Exam. Detailed Knowledge of Syllabus is mandatory for each candidate for preparation of STET Sikkim 2020 Exam. </p>
<button class="head">STET Syllabus for Primary Teacher(Class I to V)</button>
<div class="panel">
<table>
<tr>
<th>STET Syllabus</th>
<th>TOPICS</th>
</tr>
<tr>
<td><b>Child Development & Pedagogy</b></td>
<td>Concept of development and its relationship with learning. Principles of the development of children. Gross and fine motor development skills in infancy & preschool children. Socialization processes: Social world & children (Teachers, parents, peers.)Piaget, Kohlberg and Vygotsky: constructs and critical perspectives. Development of speech and language. Gender as a social construct; gender roles, gender- bias and educational practice. Individual differences among learners, understanding differences based on diversity oflanguage, caste, gender, community, religion etc.</td>
</tr>
<tr>
<td><b>Language-I</b></td>
<td>Reading unseen passages- two passages one prose or drama and poem with questions on comprehension, inference, grammar and verbal ability (Prose passage may be literary, scientific, narrative or discursive ).</td>
</tr>
<tr>
<td><b>Language-II</b></td>
<td>Learning and Acquisition Principles of language TeachingRole of listening and speaking; function of language and how children use it as a toolCritical perspective on the role of grammar in learning a language for communicatingideas verbally and in written form;Challenges of teaching language in a diverse classroom; language difficulties, errors and disordersLanguage SkillsEvaluating language comprehension and proficiency: speaking, listening, reading and writingTeaching- learning materials: Textbook, multi- media materials, multilingual resource of the classroomRemedial Teaching </td>
</tr>
<tr>
<td><b>Mathematics</b></td>
<td>Decimals and Fractions Algebraic Expressions and Identities Factorizations Rational Numbers. Exponents and Powers Addition and Subtraction Operation on Numbers Ratio and proportion Measurement Comparing Quantities Direct and Inverse Variations Geometry</td>
</tr>
<tr>
<td><b>Environmental Studies</b></td>
<td>Refer NCERT Textbooks of class I to V</td>
</tr>
</table>
</div>

<button class="head">Exam Pattern for Primary Teachers</button>
<div class="panel">
<h2 align="center"><u>Paper I (Primary Teachers for Class I to V)</u></h2>
<table align="center" bgcolor="gray">
<tr>
<th>Structure</th>
<th>Type of Questions</th>
<th>Total no. of Marks</th>
</tr>
<tr>
<td><b>Child Development & Pedagogy</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Language I</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Language II</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Mathematics</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Environmental Studies</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
</table>
</div>

<button class="head">STET Syllabus for Graduate Teacher(Class VI to VIII)</button>
<div class="panel">
<table>
<tr>
<th>STET Syllabus</th>
<th>TOPICS</th>
</tr>
<tr>
<td><b>Mathematics</b></td>
<td>Algebra, Compound Interest Discount, Ratio and Proportion, Introduction to Algebra; Algebraic identities, polynomials, Basic geometrical ideasGeometry, Number System, Playing with Numbers, Knowing our Numbers, Negative Numbers and Integers, Whole Numbers, Cube root Profit & Loss, Fractions Exponents; surds, squares, cube, square root, Symmetry: (reflection). Understanding Elementary ShapesQuadrilateral.Constructions (using Straight edge Scale, protractor, compasses).Data handling, statistics.Mensurations; circle, sphere, cone, cylinder, triangles.</td>
</tr>
<tr>
<td><b>Science</b></td>
<td>Food: Sources and Components Nutrition in Plants and Animals Light, Shadows and Reflection Electric Current and its effects Sound Microorganism : Friend and Foe Pollution of Air and Water Physical and Chemical changes Fibre to Fabric</td>
</tr>
<tr>
<td><b>History</b></td>
<td>From Gathering to Growing Food Rulers and Buildings India after Independence</td>
</tr>
<tr>
<td><b>Geography</b></td>
<td>Motions of the Earth Life in the Temperate Grassland Mineral and Power Resources.</td>
</tr>
<tr>
<td><b>Civics</b></td>
<td>Diversity and Discrimination. Understanding Media. Understanding Marginalisation</td>
</tr>
</table>
</div>

<button class="head">Exam Pattern for Primary Teachers</button>
<div class="panel">
<h2 align="center"><u>Paper II (Graduate Teachers for Classes VI to VIII)</u></h2>
<table align="center" bgcolor="gray">
<tr>
<th>Structure</th>
<th>Type of Questions</th>
<th>Total no. of Marks</th>
</tr>
<tr>
<td><b>Child Development & Pedagogy</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Language I</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Language II</b></td>
<td>30 MCQs</td>
<td>30 Marks</td>
</tr>
<tr>
<td><b>Mathematics & Science</b></td>
<td>60 MCQs</td>
<td>60 Marks</td>
</tr>
<tr>
<td><b>Social Studies</b>(for social studies teacher)</td>
<td>60 MCQs</td>
<td>60 Marks</td>
</tr>
</table>
</div>

<button class="head">STET Syllabus for Post Graduate Teachers(Class IX to XII)</button>
<div class="panel">
<table>
<tr>
<th>STET Syllabus</th>
<th>TOPICS</th>
</tr>
<tr>
<td colspan="2" align="center">PART-1</td>
</tr>
<tr>
<td><b>General English</b></td>
<td>Verb, Tenses, Voice, Subject-Verb Agreement, Articles, Comprehension, Fill in the Blanks. Adverb, Error Correction, Sentence Rearrangement, Unseen Passages, Vocabulary, Antonyms, Synonyms, Grammar, Idioms & Phrases, etc.</td>
</tr>
<tr>
<td><b>General Hindi</b></td>
<td>Antonyms, Vocabulary, Grammar, Synonyms, Translation of Sentences, Fill in the Blanks, Error Detection, Comprehension, Phrases/Muhavare, Plural Forms etc.</td>
</tr>
<tr>
<td colspan="2" align="center">PART-2</td>
</tr>
<tr>
<td><b>General Knowledge & Current Affairs</b></td>
<td>Important Days, Indian History, Books and Authors, Indian National Movement, Awards and Honors, Budget and Five Year Plans, General Polity, Current Affairs – National & International, Indian Economy, Capitals of India, International & National Organizations, Science – Inventions & Discoveries, Science & Technology, Sports, Abbreviations, Countries & Capitals.</td>
</tr>
<tr>
<td><b>Reasoning Ability</b></td>
<td>Arithmetic Number Series, Spatial Orientation, Observation, Figures Classification, Relationship concepts, Arithmetical Reasoning, Non-verbal series, Analogies, Discrimination, Visual Memory, Similarities and Differences, Spatial Visualization, Coding and Decoding etc.

Number Series, Letter and Symbol Series, Verbal Classification, Essential Part, Verbal Reasoning, Logical Problems, Analogies, Theme Detection, Cause and Effect, Artificial Language, Matching Definitions, Making Judgments, Statement and Conclusion, Logical Deduction, Statement and Argument.</td>
</tr>
<tr>
<td><b>Computer Literacy</b></td>
<td>Computer Basics, Using Paint Brush, More in Paint, About Desktop and Computer Peripherals, Word Processor, Formatting Word Document, Internet, Computer History, Word Processor, Exploring Windows, Powerpoint Presentation, etc.</th>
</td>
<tr>
<td><b>Pedagogy</b></td>
<td>
<ol>
<li><b>Pedagogical Concerns</b>
<ol class="a">
<li>Curriculum: Meaning, Principles, types of curriculum organization, approaches.</li>

<li>Planning: lnstructional Plan- Year Plan, Unit Plan, Lesson Plan</li>

<li>Instructional material and resources: Text Books, Work books, Supplementary material AV aids, Laboratories, Library, Clubs-Museums-Community, Information and Communication Technology.</li>

<li>Evaluation: Types, tools, Characteristics of a good test, Continuous and Comprehensive Evaluation, Analysis and interpretation of Scholastic Achievement Test.</li>
</ol>
</li>

<li> <b>Inclusive Education</b>
<ol class="a">
<li>Understanding diversities: concept types (disability as a dimension of diversity)</li>

<li>Disability as a social construct, classification of disability and its educational implications:
<ol class="b">
<li>Sensory Impairment (Hearing Impairment, Visual Impairment and Deaf Blind)</li>

<li>Cognitive Disabilities: (Autism Spectrum Disorder; Intellectual Disability and Specific Learning Disability)</li>

<li>Physical Disabilities: celebral palsy and loco motor</li>
</ol>
</li>
<li>Philosophy of inclusion with special reference to children with disability.</li>

<li>Process of Inclusion: concern issues across disabilities.</li>

<li>Constitutional Provisions</li>

<li>Education & Technology</li>
</ol>
</li>

<li><b>Communication & interaction</b>
</br>
Theory of Communication, Types of Communication, Communication & language, Communication in the classroom, barriers in communication.</li></td>
</ol>
</tr>
<tr>
<td><b>Concerned Subject</b></td>
<td>Hindi, English, Physics, Chemistry, Maths, Biology, History, Geography, Economics, Commerce and Computer Science</td>
</tr>
</table>
</div>

<button class="head">Exam Pattern for Post Graduate Teachers</button>
<div class="panel">
<h2 align="center"><u>PGT(Post Graduate Teacher) Exam Pattern</u></h2>
<table align="center" bgcolor="gray">
<tr>
<th>Test</th>
<th>Subjects</th>
<th>Number of Questions</th>
<th>Total Marks</th>
<th> Time </th>
</tr>
<tr>
<td rowspan="2">Part-1</td>
<td><b>General English</b></td>
<td>10</td>
<td>10</td>
<td rowspan="8">3 Hrs.</td>
</tr>
<tr>
<td><b>General Hindi</b></td>
<td>10</td>
<td>10</td>
</tr>
</div>
<tr>
<td rowspan="5">Part-2</td>
<td><b>General Knowledge & Current Affairs</b></td>
<td>10</td>
<td>10</td>
</tr>
<tr>
<td><b>Reasoning Ability</b></td>
<td>10</td>
<td>10</td>
</tr>
<tr>
<td><b>Computer Literacy</b></td>
<td>10</td>
<td>10</td>
</tr>
<tr>
<td><b>Pedagogy</b></td>
<td>20</td>
<td>20</td>
</tr>
<tr>
<td><b>Subject Concerned</b></td>
<td>80</td>
<td>80</td>
</tr>
<tr>
<td colspan="2">Total</td>
<td>150</td>
<td>150</td>
</tr>
<tr>
<td colspan="5">
<h3>Note:</h3>
<ul>
<li>Interview round will be of 60 Marks</li>
<li>The final merit list will be based on the performance of the candidates in Written Test and Interview.</li>
<li>The weightage of Written Test and Interview will be 85:15.</li>
</ul>
</td>
</tr>
</table>
</div>
<h3>NOTE:-</h3>
<p>An applicant who intends to participate in both the categories (Primary and Graduate) will have to apply and sit in both the papers separately and pay the fee for both the tests. Both Level I and Level II (i.e. for Primary and Graduate teacher) will be conducted on the same day. </p>
<div class="prim">
<ul>
<li><b>Exam Mode</b> : Offline (OMR Based)</li>

<li><b>Exam Type</b> : Objective type (Multiple Choice Questions)</li>

<li><b>Total no. of Questions</b> : 150</li>

<li><b>Marking Scheme</b> : 1 mark for each correct answer</li>

<li><b>Negative Marking</b> : There will be no negative marking.</li>

<li><b>Exam Duration</b> : 2.30 hours.</li>

<li><b>Exam Time</b> :- <ul class="c"><li>10.00 am to 12:30 pm for (Elementary (Graduate) teacher)</li> <li> 01:30 pm to 4.00 pm for (Primary teacher)</li></ul></li>
</ul>



</br><hr>
<script>
var acc=document.getElementsByClassName("head");
var i;
for(i=0;i<acc.length;i++)
{
acc[i].addEventListener("click",function(){
this.classList.toggle("active");
var panel=this.nextElementSibling;
if(panel.style.display==="block"){
panel.style.display="none";
}else{
panel.style.display="block";
}
});
}
</script>
</body>
</html>